<div class="card">

    <div class="grid p-fluid mt-1">

        <div class="field col-12 md:col-4 lg:col-4 xl:col-4">
            <span class="p-float-label">
                <p-dropdown
                [options]="databases"
                [(ngModel)]="selectedDatabase"
                optionLabel="name"
                [optionValue]="'value'"
                class="p-inputtext-sm"
                placeholder="Select Database Type"></p-dropdown>
                <label for="database_type">Database Type</label>
            </span>
        </div>

        <div class="col-12 lg:col-4 md:col-4 xl:col-4">
            <span class="p-float-label">
                <input type="text" id="name" pInputText [(ngModel)]="database_name" class="p-inputtext-sm"/>
                <label for="name">Database Name</label>
            </span>
        </div>

        <div class="col-12 lg:col-4 md:col-4 xl:col-4">
            <span class="p-float-label">
                <input type="text" id="name" pInputText [(ngModel)]="database_user" class="p-inputtext-sm"/>
                <label for="name">Database User</label>
            </span>
        </div>

        <div class="col-12 lg:col-4 md:col-4 xl:col-4">
            <span class="p-float-label">
                <input type="text" id="name" pInputText [(ngModel)]="database_password" class="p-inputtext-sm"/>
                <label for="name">Database Passsword</label>
            </span>
        </div>

        <div class="col-12 lg:col-4 md:col-4 xl:col-4">
            <span class="p-float-label">
                <input type="text" id="name" pInputText [(ngModel)]="database_host" class="p-inputtext-sm"/>
                <label for="name">Database Host</label>
            </span>
        </div>

        <div class="col-12 lg:col-4 md:col-4 xl:col-4">
            <p-floatLabel>
                <p-inputNumber
                    [(ngModel)]="database_port"
                    inputId="grace_end_time"
                    spinnerMode="horizontal"
                    class="p-inputtext-sm"
                    [useGrouping]="false" />
                <label for="grace_end_time">Database Port</label>
            </p-floatLabel>
        </div>

        <div class="col-12 lg:col-3 md:col-3 xl:col-3">
            <span class="p-float-label">
                <input type="text" id="name" pInputText [(ngModel)]="table_name" class="p-inputtext-sm"/>
                <label for="name">Table Name</label>
            </span>
        </div>

        <div class="col-12 lg:col-3 md:col-3 xl:col-3">
            <span class="p-float-label">
                <input type="text" id="name" pInputText [(ngModel)]="id_field" class="p-inputtext-sm"/>
                <label for="name">Id Field</label>
            </span>
        </div>

        <div class="col-12 lg:col-3 md:col-3 xl:col-3">
            <span class="p-float-label">
                <input type="text" id="name" pInputText [(ngModel)]="employeeid_field" class="p-inputtext-sm"/>
                <label for="name">Employee Id Field</label>
            </span>
        </div>

        <div class="col-12 lg:col-3 md:col-3 xl:col-3">
            <span class="p-float-label">
                <input type="text" id="name" pInputText [(ngModel)]="direction_field" class="p-inputtext-sm"/>
                <label for="name">Direction Field</label>
            </span>
        </div>

        <div class="col-12 lg:col-3 md:col-3 xl:col-3">
            <span class="p-float-label">
                <input type="text" id="name" pInputText [(ngModel)]="shortname_field" class="p-inputtext-sm"/>
                <label for="name">Shortname Field</label>
            </span>
        </div>

        <div class="col-12 lg:col-3 md:col-3 xl:col-3">
            <span class="p-float-label">
                <input type="text" id="name" pInputText [(ngModel)]="serialno_field" class="p-inputtext-sm"/>
                <label for="name">Serial No Field</label>
            </span>
        </div>

        <div class="col-12 lg:col-3 md:col-3 xl:col-3">
            <span class="p-float-label">
                <input type="text" id="name" pInputText [(ngModel)]="log_datetime_field" class="p-inputtext-sm"/>
                <label for="name">Datetime Field</label>
            </span>
        </div>

        <div class="col-12 lg:col-3 md:col-3 xl:col-3">
            <!-- Test Connection and Save buttons side by side -->
            <div class="grid">
                <div class="col-6">
                    <button pButton icon="pi pi-check-circle" label="Test" class="p-button-outlined" (click)="testDatabaseConnection()"></button>
                </div>
                <div class="col-6">
                    <button pButton icon="fa-solid fa-floppy-disk" label="Save" class="p-button-success" (click)="updateDatabaseConfig()"></button>
                </div>
            </div>
        </div>

    </div>


<div class="p-datatable-sm">
    <!-- <p-table #dt [value]="biometricsDevices" [tableStyle]="{ 'min-width': '5rem' }" class="p-datatable-sm"
    [lazy]="true" [paginator]="true" [showCurrentPageReport]="false" responsiveLayout="scroll" (onLazyLoad)="getBiometricsDevicesList($event)"> -->
    <p-table #dt [value]="biometricsDevices" class="p-datatable-sm" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} - {last} of {totalRecords} Entries"
    [lazy]="true" [paginator]="true" [rows]="rows" [totalRecords]="totalRecords" [rowsPerPageOptions]="rowsPerPageOptions"
    [loading]="loading" responsiveLayout="scroll" (onLazyLoad)="getBiometricsDevicesList($event)">
        <ng-template pTemplate="caption">
            <div class="flex justify-content-between flex-column sm:flex-row gap-2">
                <div class="flex gap-1">
                    <div>
                        <p-button label="Clear" icon="pi pi-filter-slash" size="small" (click)="clear(dt)" [outlined]="true" severity="info"></p-button>
                    </div>
                    <div>
                        <p-button label="Add" icon="fa-solid fa-plus" size="small" (click)="addClick()"></p-button>
                    </div>
                </div>
                <span class="p-input-icon-left mb-2">
                    <i class="pi pi-search"></i>
                    <!-- <input pInputText type="text" #filter (input)="onGlobalFilter(dt1, $event)" placeholder="Search Keyword" class="w-full p-inputtext-sm"/> -->
                    <input pInputText type="text" #searchInput (input)="onSearchChange(searchInput.value)" placeholder="Search" class="w-full p-inputtext-sm"/>
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>#</th>
                <th>Device Name</th>
                <th>Serial No</th>
                <th>Direction of Use</th>
                <th>Purpose</th>
                <th>IP Address</th>
                <th>Company</th>
                <th>Location</th>
                <th>Actions</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item let-i="rowIndex">
            <tr>
                <td>{{ i + 1 }}</td>
                <td>{{ item.device_no }}</td>
                <td>{{ item.serial_number }}</td>
                <td>{{ item.direction_of_use }}</td>
                <td>{{ item.purpose_of_device }}</td>
                <td>{{ item.ip_address }}</td>
                <td>{{ item.company_name }}</td>
                <td>{{ item.location_name }}</td>
                <td>
                    <div class="flex">
                        <p-button icon="pi pi-pencil" [rounded]="true" [text]="true" size="small" (click)="editClick(item)"></p-button>
                        <p-button icon="pi pi-trash" [rounded]="true" [text]="true" size="small" (click)="deleteDevice(item)" severity="danger"></p-button>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>


<p-toast></p-toast>
<p-dialog header="{{ ModalTitle }}" [(visible)]="display" [modal]="true" showEffect="fade" [style]="{width: '50vw'}" [breakpoints]="{'560px': '50vw'}">
  <ng-template pTemplate="content">
    <!-- <app-add-edit-company [company]="company" *ngIf="ActivateAddEditCompanyComp" (companyAdded)="onCompanyAdded()"></app-add-edit-company> -->
    <div class="grid p-fluid mt-1">

        <div class="field col-12 lg:col-12 xl:col-12">
            <span class="p-float-label">
                <input type="text" id="device_no" pInputText [(ngModel)]="device_no" class="p-inputtext-sm"/>
                <label for="device_no" class="block font-bold">Device Name / Shortname</label>
            </span>
        </div>

        <div class="field col-12 lg:col-12 xl:col-12">
            <span class="p-float-label">
                <input type="text" id="serial_number" pInputText [(ngModel)]="serial_number" class="p-inputtext-sm"/>
                <label for="serial_number" class="block font-bold">Serial No</label>
            </span>
        </div>

        <div class="field col-12 md:col-12 lg:col-12 xl:col-12">
            <span class="p-float-label">
                <p-dropdown
                [options]="directions"
                [(ngModel)]="selectedDirection"
                optionLabel="name"
                [optionValue]="'value'"
                class="p-inputtext-sm"
                placeholder="Select Database Type"></p-dropdown>
                <label for="diection" class="block font-bold">Direction of Use</label>
            </span>
        </div>

        <div class="field col-12 md:col-12 lg:col-12 xl:col-12">
            <span class="p-float-label">
                <p-dropdown
                [options]="companies"
                [(ngModel)]="selectedCompany"
                optionLabel="name"
                class="p-inputtext-sm"
                placeholder="Select Database Type"
                (onChange)="assignCompanyId(selectedCompany)"></p-dropdown>
                <label for="diection" class="block font-bold">Company</label>
            </span>
        </div>

        <div class="field col-12 md:col-12 lg:col-12 xl:col-12">
            <span class="p-float-label">
                <p-dropdown
                [options]="locations"
                [(ngModel)]="selectedLocation"
                optionLabel="name"
                class="p-inputtext-sm"
                placeholder="Select Database Type"
                (onChange)="assignLocationId(selectedLocation)"></p-dropdown>
                <label for="diection" class="block font-bold">Location</label>
            </span>
        </div>

        <!-- <div class="field col-12 lg:col-12 xl:col-12">
            <span class="p-float-label">
                <input type="text" id="purpose_of_device" pInputText [(ngModel)]="purpose_of_device" class="p-inputtext-sm"/>
                <label for="purpose_of_device" class="block font-bold">Purpose of Use</label>
            </span>
        </div> -->

        <div class="field col-12 md:col-12 lg:col-12 xl:col-12">
            <span class="p-float-label">
                <p-dropdown
                [options]="purposes"
                [(ngModel)]="selectedPurpose"
                optionLabel="name"
                class="p-inputtext-sm"
                placeholder="Select Purpose"
                (onChange)="assignPurposeValue(selectedPurpose)"></p-dropdown>
                <label for="purpose" class="block font-bold">Purpose of Device</label>
            </span>
        </div>

        <div class="field col-12 lg:col-12 xl:col-12">
            <span class="p-float-label">
                <input type="text" id="ip_address" pInputText [(ngModel)]="ip_address" class="p-inputtext-sm"/>
                <label for="ip_address" class="block font-bold">IP Address</label>
            </span>
        </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
      <div class="mt-2">
          <button pButton icon="fa-solid fa-x" (click)="display=false" label="Close" class="p-button-outlined"></button>
          <button pButton icon="fa-solid fa-floppy-disk" *ngIf="id == null" (click)="addDevice()" label="Save" class="p-button-success"></button>
          <button pButton icon="fa-solid fa-pencil" *ngIf="id !== null" (click)="updateDevice()" label="Update" class="p-button-info"></button>
      </div>
  </ng-template>
</p-dialog>


</div>
